<!DOCTYPE HTML>
<html>
  <head>
    <title>Lucas Parreiras</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  </head>
  <body>
    <div class='container'>
      <div class='jumbotron'>
        <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAlkAAAAJDRlZDQ3YWRmLWU5NWMtNDMwZi05MTZlLTIyYjc4MWMyYWQ5NA.jpg" alt="Lucas Parreiras" class="img-circle">
        <h1>Lucas Parreiras</h1>
        <p>Programador, apaixonado por conhecimento.</p>
        <p><a class="btn btn-primary btn-lg" href="https://www.linkedin.com/in/lucas-parreiras/" role="button">LinkedIn</a></p>
      <div>
    <div>
  </body>
</html>
